id_rsa.pub filter=git-crypt diff=git-crypt
id_rsa filter=git-crypt diff=git-crypt
password.txt filter=git-crypt diff=git-crypt
addressbook filter=git-crypt diff=git-crypt
account* filter=git-crypt diff=git-crypt
credentials filter=git-crypt diff=git-crypt
token filter=git-crypt diff=git-crypt
kumo* filter=git-crypt diff=git-crypt
.keyrc* filter=git-crypt diff=git-crypt
