[user]
  name=rusty1s
  email=matthias.fey@tu-dortmund.de

[github]
  user=rusty1s

[push]
  default=simple
  autoSetupRemote=true

[core]
  excludesfile=~/.gitignore
  pager=delta

[interactive]
  diffFilter=delta --color-only

[delta]
  navigate=true
  dark=true
  side-by-side=false
  syntax-theme=Monokai Extended

[merge]
  conflictStyle=zdiff3
