snippet const
const ${1:name} = ${2:value};
$0
endsnippet

snippet let
let ${1:name} = ${2:value};
$0
endsnippet

snippet import
import ${1:name} from '${2:path}';
$0
endsnippet

snippet export "default"
export default ${1:name};
$0
endsnippet

snippet class
class ${1:name} {
	$0
}
endsnippet

snippet class-extends
class ${1:name} extends ${2:extension} {
	$0
}
endsnippet

snippet if
if (${1:condition}) {
	$0
}
endsnippet
