snippet import
import ${1:name} as ${2:var}
endsnippet

snippet tensorflow
import tensorflow as tf
$0
endsnippet

snippet if
if ${1:condition}:
	${0:pass}
endsnippet

snippet for
for ${1:item} in ${2:list}:
	${0:pass}
endsnippet
